<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514591476510-0bvq4o0gtcsv9rm3fn1ptihhaqb9im89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514591476510-0bvq4o0gtcsv9rm3fn1ptihhaqb9im89</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>514591476510-3u8pchmq9sv9n7j39ie5l7ou7dhpnjpa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4gJqyAC-zI5NejX8YvpzkwGhRJCLhJCM</string>
	<key>GCM_SENDER_ID</key>
	<string>514591476510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>music.streaming.znar</string>
	<key>PROJECT_ID</key>
	<string>znar-70fab</string>
	<key>STORAGE_BUCKET</key>
	<string>znar-70fab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514591476510:ios:e7af0c7d0c8e35600f570f</string>
</dict>
</plist>